jwt_secret = ""
admin_id = ""
admin_email = ""
admin_name = ""
admin_password = ""
email_from = ""
email_from_password = ""
email_to = ""
smtp_server = ""
message_bird_api_key = ""
sms_phone_from = ""
sms_phone_to = ""